<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Event Finder</title>
  <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
</head>

<body>
<!-- Navigation -->
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#">My Account</a></li>
      <li><a class="button">Login</a></li>
    </ul>
  </div>

  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1 class="header">Event Booker</h1>

    </div>
  </div>

  </div>

  <div class="row column">
    <hr>
  </div>


  <div class="row column">
    <p class="leadOne">Search Events Around You</p>
  

    <div class="medium-5 large-3 columns" > 
    </div>
      <div class="callout secondary">
        <form>
          <div class="row">
            <div class="small-12 columns">
              <label>Search by Zip Code
                <input type="text" id="zipInput" placeholder="Zip Code Here">
              </label>
            </div>

            <button type="submit" class="button" id="submitBtn">Search Now!</button>
          </div>
      </div>
      </form>
    </div>
  </div>

    <div class="row small-up-1 medium-up-2 large-up-3">
    <div class="column">
      <div class="callout">
        <p><img src="https://placehold.it/400x370&text=Pegasi B" alt="image of event one" id="firstImg"></p>
        <p class="lead" id="eventOne">{{name}}</p>
        <p class="lead" id="descOne">{{description}}</p>
        <p class="lead" id="dateOne">{{date}}</p>
        <p class="lead" id="timeOne">{{time}}</p>
      </div>
    </div>
    {{!-- <div class="column">
      <div class="callout">
        <p><img src="https://placehold.it/400x370&text=Pegasi B" alt="image of event two"></p>
        <p class="lead" id="eventTwo">{{name}}</p>
      </div>
    </div>
    <div class="column">
      <div class="callout">
        <p><img src="https://placehold.it/400x370&text=Pegasi B" alt="image of event three"></p>
        <p class="lead" id="eventThree">{{name}}</p>
      </div>
    </div> --}}

  </div>

  </div>


  <footer>

    {{!-- <div class="row">

      <div class="medium-6 columns">
        <ul class="menu">
          <li><a href="#">Legal</a></li>
          <li><a href="#">Partner</a></li>
          <li><a href="#">Explore</a></li>
        </ul>
      </div>

      <div class="medium-6 columns">
        <ul class="menu float-right">
          <li class="menu-text">Copyright</li>
        </ul>

      </div>
    </div> --}}

  </footer>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
  <script>
    $(document).foundation();
  </script>
  <script src="./js/script.js"></script>
</body>


</html>